$pos: 100px;



@mixin size($swidth, $sheight){
  width: $swidth;
  height: $sheight;
}
@keyframes blur {
    from {
        
         opacity: 0;
    }
    to{
       
         opacity: 1;
    }
}
@keyframes SUUUC {
    from{
       transform: translateX(-50px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes ArrowLeft{
    from{
        transform: translateX(50px);
    }
    to{
        transform: translateX(0px);
    }
}
@keyframes ArrowRight {
    from {
        transform: translateX(-50px);
    }
    to{
        transform: translateX(0px);
    }
    
}
@keyframes sizeSU{
  from{
    width: 0vw;
    height: 0vw;
    opacity: 0;
  }
  to{
    width: 40vw;
    height: 38vw;
    opacity: 1;
  }

}

@keyframes VSU {
  0% {
    opacity: 0;
    clip-path: circle(0vw at center);
    width: 0vw;
    height: 0vw;
   }
  100% {
    opacity: 0.5;
    width: 40vw;
    height: 38vw; 
    clip-path: circle(13vw at center); 
  }
}


@keyframes showUp{
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.videoAppear{
  animation: VSU 1s ease-in-out;
    animation-delay: 0.4s;
    animation-fill-mode: forwards; 
}
.showUp{
  animation: showUp 1s ease-in-out;
    animation-delay: 0.4s;
    animation-fill-mode: forwards; 
}
.sizeAppear{
  animation: sizeSU 1s ease-in-out;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}
.ArrowLeft{
    animation: ArrowLeft 1s ease-in-out;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
.ArrowRight{
    animation: ArrowRight 1s ease-in-out;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
.bluranim{
    animation: blur 1s ease-in-out;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
.bluranim2{
    animation: blur 2s ease-in-out;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

html, body {
  width: 100%;
  height: 100%;
}
@mixin position($top, $right){
  position: absolute;
  top: $top;
  right: $right;
  z-index: 99;
}
#contactUs{
  
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 62vw; 
    width: 100%;
    img{
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      
      
    }
  
    .container{
      width: 100%;
      height: 100%;
      .content{
        width: 81%;
        margin: 0 auto;
        margin-top: 5vw;
        display:  flex;
        
        .img{
          position: relative;
          width: 50%;
          transform: translateX(5vw);
          
          div{
            position: absolute;
            top: 0;
            left: 0;
             
             opacity: 0;
             z-index: 99;
             clip-path: circle(0vw at center);
             video{
               border-radius: 10px;
               object-fit: cover;
              }
          }
          img:nth-child(2){
            position: absolute;
            top: 0;
            right: 0;
            width: 0vw;
            height: 0vw;
            opacity: 0;
            
          }
          img:nth-child(3){
            position: absolute;
            top: 4vw;
            right: 0;
            width: 0vw;
            height: 0vw;
            transform: translate(0.5vw, 1vw);
            object-fit: contain;
            opacity: 0;
           
          }
        }
        .icontent{
          width: 50%;
          @keyframes comeandback {
            0%{
              left: 0;
              width: 0%;
              height: 100%;
            }
            25%{
              left: 0;
              width: 100%;
              height: 100%;
            }
            75%{
              right: 0;
              width: 100%;
              height: 100%;
            
            }
            100%{
              right: 0;
              width: 0%;
              height: 100%;
            
            }
          }
           h3{
             position: relative;
             opacity: 0;
             font-family: Montserrat Alternates;
             font-style: normal;
             font-weight: bold;
             font-size: 5vw;
             line-height: 5vw;
             width: 80%;
             text-align: left;
             color: #FFDD00;
             
             transition: all 0.4s ease-in-out;
            }
            .comeandback:after{
                animation: comeandback 0.7s ease-in-out;
               animation-fill-mode: forwards;
               animation-delay: 1s;
            }
            .comeandback{
                animation: showUp 1s ease-in-out;
               animation-fill-mode: forwards;
               animation-delay: 0.5s;
            }
          h3:after{
            content: "";
            position: absolute;
            top: 0;
            width: 0%;
            height: 100%;
            background-color: yellow;
            transition: all 0.4s ease-in-out;
           
          }

       form{
         display: flex;
         flex-direction: column;
        width: auto;
        margin-top: 3vw;
         align-items: left;
         @mixin fontType($weight){
           font-family: Montserrat;
           font-style: normal;
           font-weight: $weight;
           font-size: 0.97vw;
           line-height: 3.47vw;
           color: #fff;
          }
         textarea {
           background: #C4C4C4;
           border-radius: 2vw;
           width: 28vw;
           height: 8.1vw;
            padding: 0.2vw 1.72vw;
           margin-top: 0.91vw;
           border: 0;
           opacity: 0;
           resize: none;
           @include fontType(normal);
         }
         
         textarea::placeholder{
           color: #fff;
         }
         textarea:focus{
            outline: none !important;
    border-color: #eeff00;
    box-shadow: 0 0 10px #eeff00;
         }
         input[type=name]{
           background: #C4C4C4;
           border-radius: 61px;
           width: 28vw;
          
           margin-top: 0.91vw;
            padding: 0.2vw 1.72vw;
           border: 0;
            opacity: 0;
            @include fontType(normal);
         }
         input:focus { 
    outline: none !important;
    border-color: #eeff00;
    box-shadow: 0 0 10px #eeff00;
 }
         input[type=name]:nth-child(1){
           margin-top: 0;
         }
         input[type=name]::placeholder{
           color: #fff;
         }
         input[type=email]{
           background: #C4C4C4;
           border-radius: 61px;
           width: 28vw;
           padding: 0.2vw 1.72vw;
            opacity: 0;
           margin-top: 0.91vw;
           border: 0;
          @include fontType(normal);
         }
         input[type=email]::placeholder{
           color: #fff;
         }
      
         input[type=submit]{
           box-sizing: border-box;
           border: none;
           margin-top: 1.94vw;
             border-radius: 61px;
           width: 12.5vw;
           height: 3.88vw;
           font-size: 1.11vw;
           font-family: Montserrat;
font-style: normal;
font-weight: bold;

 opacity: 0;
line-height: 1.66vw;
/* identical to box height, or 133% */

text-align: center;

color: #6F6F6F;
background: linear-gradient(90deg, #FFEB6A 0%, #F8D700 100%);
box-shadow: 0px 20px 40px rgba(255, 255, 255, 0.15);
border-radius: 18px;
         }
         input[type=submit]:active{
           background: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);

         }
       }
        }
      
      }
     

    }
}