$pos: 100px;



@mixin size($swidth, $sheight){
  width: $swidth;
  height: $sheight;
}
@keyframes blur {
    from {
        
         opacity: 0;
    }
    to{
       
         opacity: 1;
    }
}

@keyframes SUUU {
    from{
        transform: translateY(-50px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes ArrowLeft{
    from{
        transform: translateX(50px);
    }
    to{
        transform: translateX(0px);
    }
}
@keyframes ArrowRight {
    from {
        transform: translateX(-50px);
    }
    to{
        transform: translateX(0px);
    }
    
}
@keyframes sizeSU{
  from{
    width: 0vw;
    height: 0vw;
    opacity: 0;
  }
  to{
    width: 43vw;
    height: 41vw;
    opacity: 1;
  }

}

@keyframes VSU {
  0% {
    opacity: 0;
    clip-path: circle(0vw at center);
    width: 0vw;
    height: 0vw;
   }
  100% {
    opacity: 0.5;
    width: 43vw;
    height: 41vw; 
    clip-path: circle(13vw at center); 
  }
}


@keyframes showUp{
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.videoAppear{
  animation: VSU 1s ease-in-out;
    animation-delay: 0.4s;
    animation-fill-mode: forwards; 
}
.showUp{
  animation: showUp 1s ease-in-out;
    animation-delay: 0.4s;
    animation-fill-mode: forwards; 
}
.sizeAppear{
  animation: sizeSU 1s ease-in-out;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}
.ArrowLeft{
    animation: ArrowLeft 1s ease-in-out;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
.ArrowRight{
    animation: ArrowRight 1s ease-in-out;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
.bluranim{
    animation: blur 1s ease-in-out;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
.bluranim2{
    animation: blur 2s ease-in-out;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}
.SUUC{
     animation: SUUU 2s ease-in-out;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}
.disabled {
  pointer-events: none;
  cursor: default;
}

html, body {
  width: 100%;
  height: 100%;
}
@mixin position($top, $right){
  position: absolute;
  top: $top;
  right: $right;
  z-index: 99;
}
#contactUs{
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 62vw; 
    width: 100%;
    img{
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      
      
    }
  
    .container{
      width: 100%;
      height: 100%;
      .content{
        width: 80%;
        margin: 0 auto;
        display:  flex;
        .img{
          position: relative;
          width: 50%;
          div{
            position: absolute;
            top: 0;
            left: 0;
             
             opacity: 0;
             z-index: 99;
             clip-path: circle(0vw at center);
             video{
               border-radius: 10px;
               object-fit: cover;
              }
          }
          img:nth-child(2){
            position: absolute;
            top: 0;
            right: 0;
            width: 43vw;
            height: 41vw;
            
          }
          img:nth-child(3){
            position: absolute;
            top: 4vw;
            right: 0;
            width: 43vw;
            height: 41vw;
            object-fit: contain;
           
          }
        }
        .icontent{
          width: 50%;
           h3{
opacity: 0;
         font-family: Montserrat Alternates;
font-style: normal;
font-weight: bold;
font-size: 6vw;
line-height: 5vw;
text-align: left;
color: #FFDD00;
 
       }
       form{
         display: flex;
         flex-direction: column;
        width: auto;
        margin-top: 3vw;
         align-items: left;
         textarea {
           background: #C4C4C4;
           border-radius: 2vw;
           width: 33vw;
           padding: 1vw;
           margin: 1vw 0px;
           font-size: 1vw;
           border: 0;
           opacity: 0;
           resize: none;
         }
         input[type=name]{
           background: #C4C4C4;
           border-radius: 61px;
           width: 33vw;
           padding: 1vw;
           margin: 1vw 0;
           font-size: 1vw;
           border: 0;
            opacity: 0;
         }
         input[type=email]{
           background: #C4C4C4;
           border-radius: 61px;
           width: 33vw;
           padding: 1vw;
            opacity: 0;
           margin: 1vw 0;
           border: 0;
           font-size: 1vw;
         }
      
         input[type=submit]{
           box-sizing: border-box;
           border: none;
       
             border-radius: 61px;
           width: 12vw;
           height: 4vw;
           font-size: 1vw;
           font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 1vw;
 opacity: 0;
line-height: calc(2vw);
/* identical to box height, or 133% */

text-align: center;

color: #6F6F6F;
background: linear-gradient(90deg, #FFEB6A 0%, #F8D700 100%);
box-shadow: 0px 20px 40px rgba(255, 255, 255, 0.15);
border-radius: 18px;
         }
         input[type=submit]:active{
           background-color: red;
           border: 3px solid grey;
         }
       }
        }
      
      }
     

    }
}