@mixin fontType($weight){
font-family: Montserrat;
font-size: 3vw;
font-style: normal;
font-weight: $weight;
line-height: 50px;
letter-spacing: 0em;
text-align: center;
}
*{
    transition: all 0.4s ease-in-out;
}
@keyframes blur {
    from {
        filter: blur(50px);
    }
    to{
        filter: blur(0px);
    }
}

@keyframes SUUU {
    from{
        transform: translateY(-50px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes ArrowLeft{
    from{
        transform: translateX(50px);
    }
    to{
        transform: translateX(0px);
    }
}
@keyframes ArrowRight {
    from {
        transform: translateX(-50px);
    }
    to{
        transform: translateX(0px);
    }
    
}
.ArrowLeft{
    animation: ArrowLeft 1s ease-in-out;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
.ArrowRight{
    animation: ArrowRight 1s ease-in-out;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
.bluranim{
    animation: blur 1s ease-in-out;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
.bluranim2{
    animation: blur 2s ease-in-out;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}
.SUUC{
     animation: SUUU 2s ease-in-out;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}

#SliderSection{
    
    .content{
        h2{
            @include fontType(700);
            color:#31546D;
            opacity: 1;
            filter: blur(50px);

        }
        p{
            @include fontType(500);
            color: #FFDD00;
            opacity: 1;
            filter: blur(50px);
            span{
                @include fontType(700)
            }
        }
    }
    .slider{
        margin: 20px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .fball{
               position: relative;
            transition: all 0.4s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
        
            svg{
                width: 20vw;
                height: 20vw;
                color: #FFDD00;
                transition: all 0.5s ease-in-out;
               animation: showUp 0.4s ease-in-out;
            }
            svg:hover{
               transform: rotateY(180deg);
           }
           svg:hover + div{
               opacity: 1;
               transform: translateY(0px);
              
           }
            div{
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: all 0.4s ease-in-out;
                clip-path: circle(5vw at center);
             
                z-index: 0;
                
               transform: translateY(200px);
                
                  
                     h2{
                         width: 50%;
                         font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 1vw;
line-height: 2vw;
/* identical to box height, or 109% */

text-align: center;

color: #31546D;
                     }
                     p{
                         width: 50%;
                         font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: calc(1vw - 10px);
line-height: 1vw;
text-align: center;
/* or 150% */


color: #31546D;

                     }
                transition: all 0.4s ease-in-out;          
               
               
            }
              
            
        }
        .lball{
            position: relative;
            transition: all 0.4s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
        
            
            svg{
                width: 20vw;
                height: 20vw;
                color: white;
               animation: showUp 0.4s ease-in-out;
                clip-path: circle(15vw at center);
                
            
            
            }
             svg:hover{
               transform: rotateY(180deg);
             
           }
           svg:hover + div{
               opacity: 1;
               transform: translateY(0px);
           }
            div{
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: all 1s ease-in-out;
              
                clip-path: circle(6vw at center);
                transform: translateY(200px);
               
                
                     
                    
                     transition: all 0.4s ease-in-out;
                     h2{
                         width: 50%;
                         font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 1vw;
line-height: 1vw;
/* identical to box height, or 109% */

text-align: center;

color: #31546D;
transition: all 1s ease-in-out;
                     }
                    
                    
                     p{
                         width: 50%;
                         font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: calc(1vw - 10px);
line-height: 1vw;
text-align: center;
transition: all 1s ease-in-out;
/* or 150% */


color: #31546D;

                     }
                     
               
               
            }
              
           
        }
        .mainball{
            position: relative;
            opacity: 0;
            transition: all 0.4s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
           
            transition: all 0.4s ease-in-out;
           
           
            svg{
                width: 35vw;
                height: 35vw;
                 color: #C4C4C4;
                 transition: all 0.5s ease-in-out;
                 
                
            }
           
           div:hover + svg{
              transform: rotateY(180deg);
           }
          
           svg:hover{
               transform: rotateY(180deg);
           }
           svg:hover + div{
               opacity: 1;
               transform: translateY(0px);
           }
          
    
            div{
                position: absolute;
               
                opacity: 0;
                width: 100%;
                height: 100%;
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: all 0.4s ease-in-out;
                clip-path: circle(11vw at center);
                transform: translateY(500px);
               
            
               overflow: hidden;
             
                     
                     
                     h2{
                         width: 50%;
                         font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 3vw;
line-height: 5vw;
/* identical to box height, or 109% */

text-align: center;

color: #31546D;
                     }
                     p{
                         width: 50%;
                         font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 1vw;
line-height: 1vw;
text-align: center;
/* or 150% */


color: #31546D;

                     }
                transition: all 0.4s ease-in-out;          
                
               
            }
              
            
        }
        

        
        
        
       
    }
     .actions{
            display: flex;
            flex-direction: column;
            align-items: center;
            .options{
               display: flex;
               align-items: center;
               width: 200px;
               justify-content: space-between;             
               svg:nth-child(1){
                    transform: rotateZ(180deg);
                }
                svg:nth-child(1):active{
                    background: grey;
                    border-radius: 5px;
                }
                svg:last-child:active{
                    background: grey;
                    border-radius: 5px;
                    z-index: 99;
                }
                opacity: 0;
               
              
            }
             button{
                 width: 180px;
                 height: 56px;
                 background: linear-gradient(90deg, #FFEB6A 0%, #F8D700 100%);
                 box-shadow: 0px 20px 40px rgba(255, 255, 255, 0.15);
                 border-radius: 18px;
                 border: 0;
                 font-family: Montserrat;
                 font-style: normal;
                 font-weight: bold;
                 font-size: 16px;
                 line-height: 24px;
                 text-align: center;
                 color: #6F6F6F;
                 margin: 50px 0;
                 opacity: 0;
                 a{
                     text-decoration: none;
                     color: #6F6F6F;
                 }
               }
        }
}