@mixin fontType($weight, $color){
font-family: 'Montserrat', sans-serif;
font-size: 2.5vw;
font-style: normal;
font-weight: $weight;
line-height: 4vw;
color: $color;
letter-spacing: 0em;
text-align: center;
}

@keyframes blur {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes SUUU {
    from{
        transform: translateY(-50px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

.bluranim{
    animation: blur 1s ease-in-out;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
.bluranim2{
    animation: blur 2s ease-in-out;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}
.SUUC{
     animation: SUUU 2s ease-in-out;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}

#SliderSection{
  
    
    .content{
      
        h2{
         @include fontType(700, rgba(0, 0, 0, 0.6));
         opacity: 0;
        }
        p{
            @include fontType(500, #FFDD00);
            color: #FFDD00;
            opacity: 0;
            span{
                @include fontType(700, #FFDD00);
            }
        }
    }
    .slider{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 89vw;
        margin: 2.5vw auto;
        $imgSizew: 28vw;
        $imgSizeh: 27vw;
        
      
       & > div{
           width: $imgSizew;
           height: $imgSizeh;
            transition: all 0.4s ease-in-out;
            opacity: 0;
           &:hover .flip-card-inner{
               transform: rotateY(180deg);
                transition: all 0.4s ease-in-out;
           }
           .flip-card-inner{
               width: 100%;
               height: 100%;
               position: relative;
               transform-style: preserve-3d;
               transition: all 0.4s ease-in-out;
               .flip-card-front, .flip-card-back {
                   width: 100%;
                   height: 100%;
                   position: absolute;
                   transition: all 0.4s ease-in-out;
                   
                }
                .flip-card-back{
                    transform: rotateY(180deg);
                   
                }
           }
           img{
               width: $imgSizew;
               height: $imgSizeh;
               transition: all 0.4s ease-in-out;
           }
       }
        
        
        
       
    }
     .actions{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 5.55vw;
            .options{
               display: flex;
               align-items: center;
               width: 200px;
               justify-content: space-between;             
               svg:nth-child(1){
                    transform: rotateZ(180deg);
                }
                svg:nth-child(1):active{
                    background: grey;
                    border-radius: 5px;
                }
                svg:last-child:active{
                    background: grey;
                    border-radius: 5px;
                    z-index: 99;
                }
                opacity: 0;
               
              
            }
             button{
                 width: 12.5vw;
                 height: 3.8vw;
                 background: linear-gradient(90deg, #FFEB6A 0%, #F8D700 100%);
                 box-shadow: 0px 20px 40px rgba(255, 255, 255, 0.15);
                 border-radius: 18px;
                 border: 0;
                 font-family: Montserrat;
                 font-style: normal;
                 font-weight: bold;
                 font-size: 1.11vw;
                 line-height: 1.6vw;
                 text-align: center;
                 color: #6F6F6F;
                 opacity: 0;
                 a{
                     text-decoration: none;
                     color: #6F6F6F;
                 }
               }
            button:active{
                background: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
            }
        }
}